# Variáveis de ambiente (nunca commitar)
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Build cache
.vite

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea

# Pastas

.node_modules
.dist
node_modules
